{% extends 'templateinversion.html' %}
{% block content %}

<div class="page-title">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1>Registro de Inversionistas</h1>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs"></nav>
</div><!-- End Page Title -->

<div class="container mt-5">
    <div class="card shadow-sm p-4 rounded">
        <form class="row g-4" method="post" action="/inversionista/asociar/{{proyecto.acronimo}}">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" name="nombre" required class="form-control" id="nombre">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido" class="form-label">Apellido:</label>
                    <input type="text" name="apellido" required class="form-control" id="apellido">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dni" class="form-label">DNI:</label>
                    <input type="text" name="dni" required class="form-control" id="dni">
                </div>  
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input type="text" name="telefono" required class="form-control" id="telefono">
                </div>
            </div>
            <input type="hidden" name="id" value="{{proyecto.acronimo}}">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar Inversionista</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
