{% extends 'templateinversion.html' %}
{% block content %}


   <!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Inversinista </h1>
            <p class="mb-0"> gozadera</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li class="current">Courses</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->
  <!-- Courses Section -->
  <section id="courses" class="courses section">

    <div class="container">

        <div class="container mt-5">
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Nombre del inversionista</th>
                        <th>Apellido del inversionista </th>
                        <th>Cedula</th>
                        <th>telefono</th>
                        <th>Proyecto al que pertenece</th>
                    </tr>
                </thead>
                <tbody>
                  {% for item in lista %}

                    <tr>
                        <td>{{item.idInversionista}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido}}</td>
                        <td>{{item.dni}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.idpropiedad}}</td>
                        {% endfor %}

                    </tr>
                </tbody>
            </table>
        </div>


    </div>

  </section><!-- /Courses Section -->
{% endblock %}





































