{% extends 'template.html' %}
{% block content %}



<div class="container mt-5">
    <form class="row g-3" method="post" action="/proyecto/editar">
      <input type="hidden" name="id" value="{{lista.idProyecto}}">
        <div class="form-group">
            <label for="nom">Nombre del Proyecto</label>
            <input type="text" class="form-control"  name="nom" required value="{{lista.nombre}}">
        </div>
        <div class="form-group">
            <label for="inver">Inversión</label>
            <input type="number" class="form-control"  name="inver" step="0.01" required value="{{lista.inversion}}">
        </div>
        <div class="form-group">
            <label for="tiv">Tiempo de Vida (años)</label>
            <input type="number" class="form-control"  name="tiv" required value="{{lista.tiempodevida}}">
        </div>
        <div class="form-group">
            <label for="fI">Fecha de Inicio</label>
            <input type="date" class="form-control"  name="fI" required value="{{lista.fechaInicio}}">
        </div>
        <div class="form-group">
            <label for="fF">Fecha de Fin</label>
            <input type="date" class="form-control"  name="fF" required value="{{lista.fechaFin}}">
        </div>
        <div class="form-group">
            <label for="egpd">Electricidad Generada por Día (MW)</label>
            <input type="number" class="form-control"  name="egpd" step="0.01" required value="{{lista.electicidadGeneradapordia}}">
        </div>
        <div class="form-group">
            <label for="acr">Acrónimo</label>
            <input type="text" class="form-control" name="acr" required value="{{lista.acronimo}}">
        </div>
        <div class="form-group">
            <label for="ct">Costo Total</label>
            <input type="number" class="form-control" name="ct" step="0.01" required value="{{lista.costototal}}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>

{% endblock %}
