{% extends 'template.html' %}
{% block content %}

<div class="page-title" data-aos="fade">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>Formulario para Guardar Proyecto</h1>
            <p class="mb-0"> </p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
    </nav>
  </div><!-- End Page Title -->


<div >
    <form method="post" action="/proyecto/crear" class="container mt-5">
        <div class="form-group">
            <label for="nom">Nombre del Proyecto</label>
            <input type="text" class="form-control"  name="nom" required>
        </div>
        <div class="form-group">
            <label for="inver">Inversión</label>
            <input type="number" class="form-control"  name="inver" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="tiv">Tiempo de Vida (años)</label>
            <input type="number" class="form-control"  name="tiv" required>
        </div>
        <div class="form-group">
            <label for="fI">Fecha de Inicio</label>
            <input type="date" class="form-control"  name="fI" required>
        </div>
        <div class="form-group">
            <label for="fF">Fecha de Fin</label>
            <input type="date" class="form-control"  name="fF" required>
        </div>
        <div class="form-group">
            <label for="egpd">Electricidad Generada por Día (MW)</label>
            <input type="number" class="form-control"  name="egpd" step="0.01" required>
        </div>
        <div class="form-group">
            <label for="acr">Acrónimo</label>
            <input type="text" class="form-control" name="acr" required>
        </div>
        <div class="form-group">
            <label for="ct">Costo Total</label>
            <input type="number" class="form-control" name="ct" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar Proyecto</button>
    </form>
</div>

{% endblock %}
